<div class="products-i vipped featured salon">
  <a class="products-i__link" target="_blank" href="/autos/9384814-land-rover-discovery"/>
  <a class="js-bookmark-item-9384814" data-remote="true" rel="nofollow" data-method="post" href="/autos/9384814-land-rover-discovery/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9384814" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9384814-land-rover-discovery/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Land Rover Discovery" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F04%2F18%2F23%2F48%2F47%2Fd804da18-431e-48bc-b994-0c01364a362b%2F90941_pEdzVXN_qIkjJHk8mVJfRA.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Salon</div>
    </div>
    <div class="products-i__paid">
      <span class="featured-icon"/>
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">34 500 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Land Rover Discovery</div>
    <div class="products-i__attributes products-i__bottom-text">2014, 3.0 L, 190 000 km</div>
    <div class="products-i__datetime">Bakı, dünən 16:43</div>
  </div>
</div>


<div class="products-i vipped featured salon">
  <a class="products-i__link" target="_blank" href="/autos/9439258-bmw-x5"/>
  <a class="js-bookmark-item-9439258" data-remote="true" rel="nofollow" data-method="post" href="/autos/9439258-bmw-x5/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9439258" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9439258-bmw-x5/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="BMW X5" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F08%2F14%2F44%2F49%2F18a9b65e-e137-44db-92ea-a290166c73f7%2F43897_-Q4P3xohzGoNtBQd6dffGw.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Rəsmi</div>
    </div>
    <div class="products-i__paid">
      <span class="featured-icon"/>
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">113 000 <span>€</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">BMW X5</div>
    <div class="products-i__attributes products-i__bottom-text">2025, 3.0 L, 0 km</div>
    <div class="products-i__datetime">Bakı, bugün 08:56</div>
  </div>
</div>


<div class="products-i vipped salon">
  <a class="products-i__link" target="_blank" href="/autos/9422061-land-rover-rr-evoque"/>
  <a class="js-bookmark-item-9422061" data-remote="true" rel="nofollow" data-method="post" href="/autos/9422061-land-rover-rr-evoque/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9422061" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9422061-land-rover-rr-evoque/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Land Rover RR Evoque" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F02%2F09%2F47%2F00%2Fb6cc9916-9589-4553-92a0-9e52f2eb0350%2F90941_pEdzVXN_qIkjJHk8mVJfRA.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Salon</div>
    </div>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">59 000 <span>$</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Land Rover RR Evoque</div>
    <div class="products-i__attributes products-i__bottom-text">2024, 2.0 L, 0 km</div>
    <div class="products-i__datetime">Bakı, bugün 11:40</div>
  </div>
</div>


<div class="products-i vipped salon">
  <a class="products-i__link" target="_blank" href="/autos/8865452-mitsubishi-outlander-sport"/>
  <a class="js-bookmark-item-8865452" data-remote="true" rel="nofollow" data-method="post" href="/autos/8865452-mitsubishi-outlander-sport/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-8865452" data-remote="true" rel="nofollow" data-method="delete" href="/autos/8865452-mitsubishi-outlander-sport/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Mitsubishi Outlander Sport" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2024%2F10%2F15%2F13%2F38%2F37%2F3656a7a8-c8a3-4e59-9463-9867fe8acae7%2F76402_Kt6M8xdUQ8mUvNPSzi54jw.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Rəsmi</div>
    </div>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">26 900 <span>$</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Mitsubishi Outlander Sport</div>
    <div class="products-i__attributes products-i__bottom-text">2025, 1.5 L, 0 km</div>
    <div class="products-i__datetime">Bakı, dünən 16:20</div>
  </div>
</div>


<div class="products-i vipped">
  <a class="products-i__link" target="_blank" href="/autos/9434795-hyundai-i30"/>
  <a class="js-bookmark-item-9434795" data-remote="true" rel="nofollow" data-method="post" href="/autos/9434795-hyundai-i30/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9434795" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9434795-hyundai-i30/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Hyundai i30" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F06%2F18%2F42%2F35%2Fdd201d89-c01e-4aa2-baa3-076c18ffe37e%2F27314_nl5hK4zSmPDP2ykAjfmWfg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">15 600 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Hyundai i30</div>
    <div class="products-i__attributes products-i__bottom-text">2008, 1.6 L, 308 200 km</div>
    <div class="products-i__datetime">Bakı, dünən 19:04</div>
  </div>
</div>


<div class="products-i vipped">
  <a class="products-i__link" target="_blank" href="/autos/9435506-bmw-328"/>
  <a class="js-bookmark-item-9435506" data-remote="true" rel="nofollow" data-method="post" href="/autos/9435506-bmw-328/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9435506" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9435506-bmw-328/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="BMW 328" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F06%2F22%2F40%2F30%2Fc11d57de-7985-4cea-9200-16d230c68054%2F43897_-Q4P3xohzGoNtBQd6dffGw.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">24 300 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">BMW 328</div>
    <div class="products-i__attributes products-i__bottom-text">2014, 2.0 L, 265 000 km</div>
    <div class="products-i__datetime">Bakı, dünən 23:20</div>
  </div>
</div>


<div class="products-i vipped">
  <a class="products-i__link" target="_blank" href="/autos/9463885-kia-sorento"/>
  <a class="js-bookmark-item-9463885" data-remote="true" rel="nofollow" data-method="post" href="/autos/9463885-kia-sorento/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9463885" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9463885-kia-sorento/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Kia Sorento" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F17%2F14%2F38%2F42%2F01ae9c05-5627-4c5f-a707-51f47ca9d1b3%2F92313_wLbwyJGJi75X1LikQGRJwg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">25 500 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Kia Sorento</div>
    <div class="products-i__attributes products-i__bottom-text">2009, 2.0 L, 320 000 km</div>
    <div class="products-i__datetime">Bakı, dünən 15:42</div>
  </div>
</div>


<div class="products-i vipped">
  <a class="products-i__link" target="_blank" href="/autos/9447057-nissan-note"/>
  <a class="js-bookmark-item-9447057" data-remote="true" rel="nofollow" data-method="post" href="/autos/9447057-nissan-note/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9447057" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9447057-nissan-note/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Nissan Note" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F11%2F12%2F54%2F41%2Fe398b2b9-21f7-4c7a-a3c8-d585012fb1a4%2F27314_nl5hK4zSmPDP2ykAjfmWfg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">15 500 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Nissan Note</div>
    <div class="products-i__attributes products-i__bottom-text">2015, 1.2 L, 337 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 12:56</div>
  </div>
</div>


<div class="products-i vipped">
  <a class="products-i__link" target="_blank" href="/autos/9449862-ford-fiesta"/>
  <a class="js-bookmark-item-9449862" data-remote="true" rel="nofollow" data-method="post" href="/autos/9449862-ford-fiesta/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9449862" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9449862-ford-fiesta/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Ford Fiesta" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F12%2F08%2F58%2F09%2F29651616-e302-48ae-9021-d5ccf6780dde%2F90941_pEdzVXN_qIkjJHk8mVJfRA.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">13 500 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Ford Fiesta</div>
    <div class="products-i__attributes products-i__bottom-text">2013, 1.6 L, 78 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 09:04</div>
  </div>
</div>


<div class="products-i vipped featured">
  <a class="products-i__link" target="_blank" href="/autos/9462008-kia-optima"/>
  <a class="js-bookmark-item-9462008" data-remote="true" rel="nofollow" data-method="post" href="/autos/9462008-kia-optima/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9462008" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9462008-kia-optima/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Kia Optima" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F16%2F17%2F56%2F23%2Faa78ca9e-5850-47fd-9202-5ee14b5ebb7d%2F4513_SdFmiiX51JZHxZnCDO0xMg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--vin">VIN</div>
    </div>
    <div class="products-i__paid">
      <span class="featured-icon"/>
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--barter">
        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
      </div>
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">18 900 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Kia Optima</div>
    <div class="products-i__attributes products-i__bottom-text">2013, 2.0 L, 265 542 km</div>
    <div class="products-i__datetime">Bakı, dünən 18:49</div>
  </div>
</div>


<div class="products-i vipped">
  <a class="products-i__link" target="_blank" href="/autos/9249869-kia-forte"/>
  <a class="js-bookmark-item-9249869" data-remote="true" rel="nofollow" data-method="post" href="/autos/9249869-kia-forte/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9249869" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9249869-kia-forte/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Kia Forte" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F03%2F04%2F10%2F30%2F38%2Fa108ae11-2fd6-45f0-be79-c6cc493c40fa%2F710_n_84bQNwZvpGSEPPCvJ-ng.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">24 300 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Kia Forte</div>
    <div class="products-i__attributes products-i__bottom-text">2019, 2.0 L, 90 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 12:21</div>
  </div>
</div>


<div class="products-i vipped featured">
  <a class="products-i__link" target="_blank" href="/autos/9346021-land-rover-rr-sport"/>
  <a class="js-bookmark-item-9346021" data-remote="true" rel="nofollow" data-method="post" href="/autos/9346021-land-rover-rr-sport/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9346021" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9346021-land-rover-rr-sport/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Land Rover RR Sport" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F04%2F04%2F21%2F05%2F04%2F6948a748-e5dd-42f8-aac8-52173a9d83a2%2F70473_QrTN9IRaiEdJVbJnUL_W4A.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="featured-icon"/>
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">56 500 <span>$</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Land Rover RR Sport</div>
    <div class="products-i__attributes products-i__bottom-text">2018, 2.0 L, 65 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 12:50</div>
  </div>
</div>


<div class="products-i vipped featured">
  <a class="products-i__link" target="_blank" href="/autos/9113045-mercedes-e-250"/>
  <a class="js-bookmark-item-9113045" data-remote="true" rel="nofollow" data-method="post" href="/autos/9113045-mercedes-e-250/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9113045" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9113045-mercedes-e-250/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Mercedes E 250" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F01%2F14%2F17%2F29%2F14%2F1e4a3911-a2f0-45f2-bddd-aa1c367784b3%2F15247_eRuz4Do5pS0g3SY6jF6RZg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="featured-icon"/>
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">30 000 <span>$</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Mercedes E 250</div>
    <div class="products-i__attributes products-i__bottom-text">2018, 2.0 L, 145 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:37</div>
  </div>
</div>


<div class="products-i vipped salon">
  <a class="products-i__link" target="_blank" href="/autos/9461813-changan-qiyuan-a05"/>
  <a class="js-bookmark-item-9461813" data-remote="true" rel="nofollow" data-method="post" href="/autos/9461813-changan-qiyuan-a05/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9461813" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9461813-changan-qiyuan-a05/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Changan Qiyuan A05" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F16%2F16%2F37%2F58%2F22083c7a-badf-4c61-a327-604ab3473a21%2F4513_SdFmiiX51JZHxZnCDO0xMg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Salon</div>
    </div>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">25 500 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Changan Qiyuan A05</div>
    <div class="products-i__attributes products-i__bottom-text">2025, 1.5 L, 0 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:37</div>
  </div>
</div>


<div class="products-i vipped salon">
  <a class="products-i__link" target="_blank" href="/autos/8940408-hyundai-santa-fe"/>
  <a class="js-bookmark-item-8940408" data-remote="true" rel="nofollow" data-method="post" href="/autos/8940408-hyundai-santa-fe/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-8940408" data-remote="true" rel="nofollow" data-method="delete" href="/autos/8940408-hyundai-santa-fe/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Hyundai Santa Fe" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2024%2F11%2F12%2F15%2F10%2F14%2F70b15a54-1ee5-494b-a06d-da40e772a7c6%2F82570_03Jwy_e00fC2mfxpGD9upA.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Salon</div>
    </div>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--barter">
        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
      </div>
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">45 900 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Hyundai Santa Fe</div>
    <div class="products-i__attributes products-i__bottom-text">2018, 2.0 L, 123 427 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:36</div>
  </div>
</div>


<div class="products-i vipped salon">
  <a class="products-i__link" target="_blank" href="/autos/8751426-hyundai-ix35"/>
  <a class="js-bookmark-item-8751426" data-remote="true" rel="nofollow" data-method="post" href="/autos/8751426-hyundai-ix35/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-8751426" data-remote="true" rel="nofollow" data-method="delete" href="/autos/8751426-hyundai-ix35/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Hyundai ix35" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2024%2F09%2F02%2F11%2F51%2F05%2F0d428f23-55c7-4069-bafd-03b7695e0f38%2F26954_DWgEQQqRrb1W5yDQKFgsVA.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Salon</div>
    </div>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--barter">
        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
      </div>
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">27 300 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Hyundai ix35</div>
    <div class="products-i__attributes products-i__bottom-text">2014, 2.0 L, 156 900 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:36</div>
  </div>
</div>


<div class="products-i vipped salon">
  <a class="products-i__link" target="_blank" href="/autos/9003070-mercedes-vito"/>
  <a class="js-bookmark-item-9003070" data-remote="true" rel="nofollow" data-method="post" href="/autos/9003070-mercedes-vito/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9003070" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9003070-mercedes-vito/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Mercedes Vito" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2024%2F12%2F05%2F18%2F07%2F19%2F2fc877dc-e899-4e98-bfd5-eda6a97ae616%2F15247_eRuz4Do5pS0g3SY6jF6RZg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Salon</div>
    </div>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--barter">
        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
      </div>
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">29 500 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Mercedes Vito</div>
    <div class="products-i__attributes products-i__bottom-text">2009, 2.2 L, 324 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:36</div>
  </div>
</div>


<div class="products-i vipped">
  <a class="products-i__link" target="_blank" href="/autos/9410921-ford-transit"/>
  <a class="js-bookmark-item-9410921" data-remote="true" rel="nofollow" data-method="post" href="/autos/9410921-ford-transit/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9410921" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9410921-ford-transit/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Ford Transit" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F04%2F27%2F21%2F08%2F24%2Fbc553088-68dd-411a-b484-2bc556577428%2F27314_nl5hK4zSmPDP2ykAjfmWfg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">12 000 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Ford Transit</div>
    <div class="products-i__attributes products-i__bottom-text">1999, 2.4 L, 189 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:36</div>
  </div>
</div>


<div class="products-i vipped salon">
  <a class="products-i__link" target="_blank" href="/autos/9436383-hyundai-santa-fe"/>
  <a class="js-bookmark-item-9436383" data-remote="true" rel="nofollow" data-method="post" href="/autos/9436383-hyundai-santa-fe/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9436383" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9436383-hyundai-santa-fe/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Hyundai Santa Fe" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F07%2F13%2F37%2F01%2F62dcb528-c942-4218-b2b2-3da9d0f97dd5%2F90941_pEdzVXN_qIkjJHk8mVJfRA.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Salon</div>
    </div>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--barter">
        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
      </div>
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">19 800 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Hyundai Santa Fe</div>
    <div class="products-i__attributes products-i__bottom-text">2008, 2.0 L, 227 000 km</div>
    <div class="products-i__datetime">Sumqayıt, bugün 14:36</div>
  </div>
</div>


<div class="products-i vipped">
  <a class="products-i__link" target="_blank" href="/autos/9384702-mercedes-glc-200-4matic-coupe"/>
  <a class="js-bookmark-item-9384702" data-remote="true" rel="nofollow" data-method="post" href="/autos/9384702-mercedes-glc-200-4matic-coupe/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9384702" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9384702-mercedes-glc-200-4matic-coupe/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Mercedes GLC 200 4MATIC+ Coupe" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F04%2F18%2F22%2F43%2F41%2F6c4d14c0-9a4a-4435-91d0-b3799d889207%2F27314_nl5hK4zSmPDP2ykAjfmWfg.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info"/>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">53 500 <span>$</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Mercedes GLC 200 4MATIC+ Coupe</div>
    <div class="products-i__attributes products-i__bottom-text">2021, 2.0 L, 11 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:36</div>
  </div>
</div>


<div class="products-i vipped featured">
  <a class="products-i__link" target="_blank" href="/autos/9415437-bmw-530e"/>
  <a class="js-bookmark-item-9415437" data-remote="true" rel="nofollow" data-method="post" href="/autos/9415437-bmw-530e/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9415437" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9415437-bmw-530e/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="BMW 530e" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F04%2F29%2F16%2F47%2F13%2Fba1d8047-3a19-4852-a485-3c06ab5f8fec%2F90941_pEdzVXN_qIkjJHk8mVJfRA.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="featured-icon"/>
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--barter">
        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">40 000 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">BMW 530e</div>
    <div class="products-i__attributes products-i__bottom-text">2018, 2.0 L, 167 000 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:36</div>
  </div>
</div>


<div class="products-i vipped featured salon">
  <a class="products-i__link" target="_blank" href="/autos/9441647-toyota-corolla-cross"/>
  <a class="js-bookmark-item-9441647" data-remote="true" rel="nofollow" data-method="post" href="/autos/9441647-toyota-corolla-cross/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9441647" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9441647-toyota-corolla-cross/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Toyota Corolla Cross" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F09%2F14%2F00%2F13%2F642b6b47-fcca-451a-8171-32ca248f576f%2F43897_-Q4P3xohzGoNtBQd6dffGw.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
      <div class="products-i__label products-i__label--salon">Salon</div>
    </div>
    <div class="products-i__paid">
      <span class="featured-icon"/>
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">34 500 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Toyota Corolla Cross</div>
    <div class="products-i__attributes products-i__bottom-text">2025, 2.0 L, 0 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:35</div>
  </div>
</div>


<div class="products-i vipped featured">
  <a class="products-i__link" target="_blank" href="/autos/9447830-hyundai-elantra"/>
  <a class="js-bookmark-item-9447830" data-remote="true" rel="nofollow" data-method="post" href="/autos/9447830-hyundai-elantra/bookmarks">
    <div class="bookmarking"/>
  </a>
  <a class="hide js-unbookmark-item-9447830" data-remote="true" rel="nofollow" data-method="delete" href="/autos/9447830-hyundai-elantra/bookmarks">
    <div class="bookmarking added"/>
  </a>
  <div class="products-i__top">
    <img alt="Hyundai Elantra" loading="lazy" src="https://turbo.azstatic.com/uploads/f460x343/2025%2F05%2F11%2F15%2F54%2F50%2F6295c52b-38f5-45cb-a87b-3f2701910ad6%2F90941_pEdzVXN_qIkjJHk8mVJfRA.jpg"/>
    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"/>
    <div class="products-i__paid">
      <span class="featured-icon"/>
      <span class="vipped-icon"/>
    </div>
    <div class="products-i__info">
      <div class="products-i__icon products-i__icon--loan">
        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
      </div>
    </div>
  </div>
  <div class="products-i__bottom">
    <div class="products-i__price products-i__bottom-text">
      <div class="product-price">27 700 <span>AZN</span></div>
    </div>
    <div class="products-i__name products-i__bottom-text">Hyundai Elantra</div>
    <div class="products-i__attributes products-i__bottom-text">2020, 1.6 L, 92 880 km</div>
    <div class="products-i__datetime">Bakı, bugün 14:34</div>
  </div>
</div>
